.vc_element-icon.wi_vc_ico {
	background-image: url(../images/vc-icons.png)!important;
	background-position: 0px 0px!important;
}

.wpb-elements-list-modal .wpb-content-layouts li {
	width: 243px !important;
}